{% extends 'base.html' %}

{% block content %}
  <h1>Snippet List</h1>
    
  <div class="container">
    {% for snippet in snippets %}
    <div class="snippet-row">
      <div class="card">
        <div class="card-title">{{snippet.title}}</div>
        <div class="card-code">{{snippet.code}}</div>
        <div class="card-language">{{snippet.language}}</div>
        <div class="card-project">Used in (project): {{ snippet.get_project }}</div>
        <div class="card-user">by {{snippet.author}}</div>
        <div class="card-actions">
          <div class="card-edit"><a href="{% url 'edit_snippet' snippet.pk %}">edit</a></div>
          <div class="card-fork"><a href="{% url 'fork_snippet' snippet.pk %}">fork</a></div>
          <div class="card-delete"><a href="{% url 'delete_snippet' snippet.pk %}">delete</a></div>
        </div>
      </div>
    </div>
        {% endfor %}
  </div>    
{% endblock content %}